.parent{
  -fx-background-color: transparent;
  }
.pane{
  -fx-background-color: #2196f3;
  }
.SignUpButton{
-fx-background-color: #303551;
 -fx-border-width: 2px 2px 2px 2px;
 -fx-border-radius: 20px;
 -fx-background-radius: 20px;
}
.VBox{
 -fx-background-color: #ffffff;
 -fx-border-width: 2px 2px 2px 2px;
}

.SignUpButton:hover {
 -fx-background-color: #2196F3;
 -fx-border-width: 2px 2px 2px 2px;
 -fx-border-radius: 20px;
 -fx-background-radius: 20px;
 -fx-cursor: hand;
 }
 
.Blue-pane1{
-fx-background-color: #303551; 
 }
.tfbox{
 -fx-background-color: transparent;
 -fx-border-color:  #DEDEE4;
 -fx-border-width: 0px 0px 1px 0px;
 -fx-padding: 5px 0px 5px 0px;
 -fx-text-fill: white;
 -fx-font-size: 14px;
 -fx-font-family: "Arial";
 -fx-font-weight: bold;
 -fx-background-insets: 0;
 -fx-background-radius: 0;
 -fx-cursor: text;
 }
 
 .tf{
 -fx-background-color: transparent;
 }
 
 .bluebtn{
 -fx-background-color: #2196f3;
 -fx-background-radius: 5px;
 -fx-text-fill:  #fffff;
 }